@model YazilimVarlikYonetimSistemi.Models.Model.Usage
@{
    ViewBag.Title = "UsageForm";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Kaydet", "Usage", FormMethod.Post))
{
    <div class="form-group">
        Yazılım Adı
        @Html.DropDownListFor(model => model.Software.S_ID, (List<SelectListItem>)ViewBag.values, new { @class = "form-control" })
    </div>
    <div class="form-group">
        Birim Adı
        @Html.DropDownListFor(model => model.Department.D_ID, (List<SelectListItem>)ViewBag.valued, new { @class = "form-control" })
    </div>
    <div class="form-group">
        Yazılım Anahtarı
        @Html.TextBoxFor(model => model.Software_Key, new { @class = "form-control" })
    </div>
    <div class="form-group">
        Edinme Tarihi
        @Html.TextBoxFor(model => model.Acquisition_Date, new { @class = "form-control" })
    </div>
    <div class="form-group">
        Güncelleme Başlangıç Tarihi
        @Html.TextBoxFor(model => model.Update_Start_Date, new { @class = "form-control" })
    </div>
    <div class="form-group">
        Güncelleme Bitiş Tarihi
        @Html.TextBoxFor(model => model.Update_Finish_Date, new { @class = "form-control" })
    </div>
    <div class="form-group">
        Kullanma Süresi
        @Html.TextBoxFor(model => model.Usage_Time, new { @class = "form-control" })
    </div>
    <div class="form-group">
        Sonlanma Tarihi
        @Html.TextBoxFor(model => model.ExpiryDate, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(model => model.Usage_ID)
    <button type="submit" class="btn btn-default">Kaydet</button>
}


