@using YazilimVarlikYonetimSistemi.Models.Model
@model List<Dependent>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table id="Tablo" class="table table-condensed">
    <thead>
        <tr>
            <th>Kullanıcı Adı</th>
            <th>Kullanıcı Soyadı</th>
            <th>Kullanıcı E-maili</th>
            <th>Kullanıcı Tel No</th>
            <th>Kullanıcı Tipi</th>
            <th>Birim Adı</th>
            <th>Başlama Tarihi</th>
            <th>Yazılımlar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td>@user.User.First_Name</td>
            <td>@user.User.Last_Name</td>
            <td>@user.User.U_Email</td>
            <td>@user.User.U_TelNo</td>
            <td>@user.User.U_Type</td>
            <td>@user.Department.D_Name</td>
            <td>@user.StartDate.ToShortDateString()</td>

            <td><a class="btn btn-info" href="/User/Info/@user.User.U_ID">Yazılımlar</a></td>
        </tr>
        }
    </tbody>
</table>

